<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <base href="/">
<!--    <link rel="stylesheet" type="text/css" href="../css/headerandfooter.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../css/registrocultivo.css">-->
    <title>Registrar canal</title>
</head>
<body>
<div class="col-1">
    <h2 id="titulo"> REGISTRAR CANAL</h2>
</div>

<a th:href="@{/canal}" class="regresar"><i class="fas fa-chevron-left"></i> Regresar</a>
<form th:action="@{/actualizarcanal}" method="POST" id="form" onsubmit="return mySubmit(this)">
    <div id="row-form">
        <div class="col-1">
<!--            <input type="hidden" th:field="*{id}"/>-->
            <input type="hidden"  value="1" name="idcanal"/>

<!--            <input type="text" id="nombre" name="nombre" placeholder="Ingrese canal" autofocus/>-->
        </div>
        <div class="col-1">
            <button type="submit" id="btnenviar">Registrar
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</form>

<input type="button" value="AJAX POST 1 " onclick="ajaxPOST('1')"/>
<input type="button" value="AJAX POST 9" onclick="ajaxPOST('9')"/>

<script type="text/javascript" src="../js/canal.js"></script>
<!--<script type="text/javascript" src="../js/fonawesome.js"></script>-->
</body>
</html>